.menu {
  display: inline-block;
}

.menu a::after {
  display: inline-block;
  content: ">";
  color: black;
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}

header {
  font-size: xx-large;
  background-color: aquamarine;
}

.grid {
  border: 1px solid rebeccapurple;
}

.col1 {
  border: 2px solid rebeccapurple;
  background-color: lightgray;
  padding: 10px;
  margin: 20px;
}

.col2 {
  border: 2px solid rebeccapurple;
  background-color: lightgray;
  padding: 5px;
  margin: 10px;
}

.col3 {
  border: 2px solid rebeccapurple;
  background-color: lightgray;
  padding: 0px;
  margin: 5px;
}

.staticPos {
  position: static;
  background: yellow;
}
.relativePos {
  position: relative;
  background: green;
  top: -5px;
  left: -10px;
}

.absolutePos {
  position: absolute;
  background: red;
  top: 300px;
  left: 90vw;
}

.fixedPos {
  position: fixed;
  top: 0;
  left: 80%;
  margin-top: 0;
  background: white;
  opacity: 90%;
  padding: 10px;
}

h2, 
section > ul > li {
  background-color: black;
  color: white;
  opacity: 50%;
  padding: 10px;
  position: sticky;
  top: 0;
  left: 0;
  margin: 1em 0;
}
